.crop-image {
  display: block;
  height: 300px;
  width: 100%;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}

.card-product {
  margin: 10px;
}

.card-product:hover {
  box-shadow: 1px 2px 10px black;
}
